header{
  width: 100vw;
  height: auto;
  max-height: 80px;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 10px 50px;
  
    img {
      width: 50px;
    }

    ul{
      list-style:none;

      li{
        color:var(--secundary-color)
      }
    }
  }
}