header{
  background-color: var(--primary-color);
  width: calc(100% - 40px);
  position: absolute;
  left: 0px;
  top: 0px;
  height: auto;
  max-height: 100px;
  padding: 20px;
  z-index: 1;
}

header .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  padding: 0px;
  margin: auto;
}

header .header .brand{
  width: 20%;
}

header .header .brand img{
  width: 30%;
  height: auto;
}

header .header nav{
  width: 50%;
}

header .header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header .header nav ul li{
  color: var(--secundary-color);
  cursor: pointer;
  margin-left: 10px;
}


